.blog {
  max-width: 900px;
}

.blog .post .post-comments {
  display: none;
}

.blog .post .post-comments form input {
  max-width: 300px;
}

.blog .post .post-comments .post-comments-list img {
  padding-right: 10px;
}